@font-face {
    font-family: "nanumMyeongjoYet";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoYet/nanumMyeongjoYet.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoYet/nanumMyeongjoYet.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoYet/nanumMyeongjoYet.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoYet/nanumMyeongjoYet.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoYet/nanumMyeongjoYet.ttf") format("truetype");
    font-display: swap;
}
.nanumMyeongjoYet {
    font-family: "nanumMyeongjoYet";
}